{% extends "base.html" %}
{% block titulo %}Inventario--Cliente{% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-header">
        Clientes
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lista de Clientes</h4>
        <div class="table-responsive text-lista-cli">
            <table class="table table-primary ">
                <thead>
                    <tr>
                        <th scope="col" >Ref-Cliente</th>
                        <th scope="col" >Nombre</th>
                        <th scope="col" >Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr class="">
                        <td>{{ cliente.id }}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.email}}</td>
                        <td>
                            <a name="eliminar" id="eliminar" class="btn btn-outline-danger boton_peq align-right"
                                type="button" value="Eliminar" href="{% url 'eliminarCliente' cliente.id %}">Eliminar</a>
                            <a name="editar" id="editar" class="btn btn-outline-primary boton_peq align-right " type="button"
                                value="Editar" href="{% url 'editarCliente'  cliente.id%}">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button name="alta" id="alta" class="btn btn-outline-success" type="button"> <a
                    href="{% url 'crearCliente' %}">Alta Cliente</a></button>
    </div>
    <div class="card-footer text-muted">
        Creditos: <a href="https://www.linkedin.com/in/lázaro-belloch-canet/">LBC</a>
    </div>
</div>

{% endblock %}