{% extends "base.html" %}
{% block titulo %}Inventario--Proveedor{% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-header">
        Proveedors
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de Proveedors</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col" style="font-size: x-large;">Ref-Proveedor</th>
                        <th scope="col" style="font-size: x-large;">Nombre</th>
                        <th scope="col" style="font-size: x-large;">Proveedor</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr class="">
                        <td style="font-size: large;">{{proveedor.id}}</td>
                        <td style="font-size: large;">{{proveedor.nombre}}</td>
                        <td style="font-size: large;">{{proveedor.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button name="alta" id="alta" class="btn btn-outline-success" type="button"> <a href="{% url 'crearProveedor' %}">Alta Proveedor</a></button>
            <button name="editar" id="editar" class="btn btn-outline-primary" type="button" value="Editar"><a href="{% url 'editarProveedor' %}">Editar Proveedor</a></button>
            <button name="eliminar" id="eliminar" class="btn btn-outline-danger align-right" type="button" value="Eliminar"><a>Eliminar Proveedor</a></button>
        </div>

    </div>
    <div class="card-footer text-muted">
        Creditos: <a href="https://www.linkedin.com/in/lázaro-belloch-canet/">LBC</a>
    </div>
</div>

{% endblock %}