{% extends "base.html" %}
{% block titulo %}Inventario--Proveedor{% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-header">
        Proveedores
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de Proveedores</h4>
        <div class="table-responsive">
            <table class="table table-primary text-lista-cli">
                <thead>
                    <tr>
                        <th scope="col">Ref-Proveedor</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">eMail</th>

                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr class="">
                        <td>{{proveedor.id}}</td>
                        <td>{{proveedor.nombre}}</td>
                        <td>{{proveedor.email}}</td>
                        <td>
                            <a name="eliminar" id="eliminar" class="btn btn-outline-danger boton_peq align-right"
                                type="button" value="Eliminar" href="{% url 'eliminarProveedor' proveedor.id%}">Eliminar</a>
                            <a name="editar" id="editar" class="btn btn-outline-primary boton_peq align-right"
                                type="button" value="Editar" href="{% url 'editarProveedor' proveedor.id %}">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button name="alta" id="alta" class="btn btn-outline-success" type="button"> <a
                    href="{% url 'crearProveedor' %}">Alta Proveedor</a></button>
        </div>

    </div>
    <div class="card-footer text-muted">
        Creditos: <a href="https://www.linkedin.com/in/lázaro-belloch-canet/">LBC</a>
    </div>
</div>

{% endblock %}