<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cambio Usuario</title>
</head>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cambio Usuario</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Cambio Usuario</h1>
        </header>
        <form action="post">
            <div class="mb-3">
                <label for="idUsuario" class="form-label">ID Usuario</label>
                <input type="text" class="form-control" id="idUsuario" name="idUsuario" aria-describedby="idUsuario">
            </div>
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Nombre Usuario</label>
                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario"
                    aria-describedby="nombreUsuario">
            </div>
            <div class="mb-3">
                <label for="apellidosUsuario" class="form-label">Apellidos Usuario</label>
                <input type="text" class="form-control" id="apellidosUsuario" name="apellidosUsuario"
                    aria-describedby="apellidosUsuario">
            </div>
            <div class="mb-3">
                <label for="correoUsuario" class="form-label">Correo Usuario</label>
                <input type="mail" class="form-control" id="correoUsuario" name="correoUsuario"
                    aria-describedby="correoUsuario">
            </div>
            <div class="mb-3">
                <label for="passUsuario" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="passUsuario" name="passUsuario"
                    aria-describedby="passUsuario">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>

</html>