{% extends "base.html" %}
{% block titulo %}Inventario--Usuarios{% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-header">
        Usuarios
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de Usuarios</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col" style="font-size: x-large;">Ref-Usuarios</th>
                        <th scope="col" style="font-size: x-large;">Nombre</th>
                        <th scope="col" style="font-size: x-large;">Usuarios</th>
                        <th scope="col" class="align-center" style="font-size: x-large;">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr class="">
                        <td style="font-size: large;">{{usuario.id}}</td>
                        <td style="font-size: large;">{{usuario.nombre}}</td>
                        <td style="font-size: large;">{{usuario.email}}</td>
                        <td>
                            <a name="eliminar" id="eliminar" class="btn btn-outline-danger boton_peq align-right"
                                type="button" value="Eliminar" href="{% url 'eliminarUsuario' usuario.id%}">Eliminar</a>
                            <a name="editar" id="editar" class="btn btn-outline-primary boton_peq align-right" type="button"
                                value="Editar" href="{% url 'editarUsuario' usuario.id%}">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button name="alta" id="alta" class="btn btn-outline-success" type="button"> <a
                    href="{% url 'crearUsuario' %}">Alta Usuarios</a></button>
        </div>

    </div>
    <div class="card-footer text-muted">
        Creditos: <a href="https://www.linkedin.com/in/lázaro-belloch-canet/">LBC</a>
    </div>
</div>

{% endblock %}